body {
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.75); /* lower opacity text */
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  overflow: hidden;
  position: relative;
  font-size: 13px;
}

#terminal {
  white-space: pre-wrap;
  position: relative;
  z-index: 40;
  line-height: 1.4em;
  opacity: 0.85; /* even more faded */
}

.cursor {
  display: inline-block;
  width: 8px;
  background: rgba(255, 255, 255, 0.75);
  animation: blink 0.8s steps(1) infinite;
}

a {
  color: #9b0808a8; /* soft yellow */
  text-decoration: underline;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}

#clock {
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: rgb(158, 4, 4);
  font-size: 15px;
  z-index: 6;
}
.corner-image {
  position: fixed;
  bottom: 1px;
  right: 10px;
  width: 300px; /* Adjust as needed */
  height: auto;
  z-index: 5; /* Keeps it on top */
  pointer-events: none; /* So it doesn't block clicks */
  opacity: 40%;
}